* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility classes */
.m-10{
  margin: 10px 0;
}
.m-20{
  margin: 20px 0;
}
.m-30{
  margin: 30px 0;
}
.p-10{
  padding: 10px;
}
.p-20{
  padding: 20px;
}
.p-30{
  padding: 30px;
}
.text-white{
  color: white;
}
.text-grey{
  color: #717171;
}
.text-center{
  text-align: center;
}
.d-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.wrapper {
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

#main_site{
    height: calc(100% - 90px);
    overflow-y: hidden;
}

aside.main_menu {
    min-width: 230px;
    background-color: black;
    flex-direction: column;
    justify-content: flex-start;
}

.logo img{
  height: 40px;
  margin-bottom: 10px;
}

.home{
  padding: 10px 0;
}
.home img{
  height: 2rem;
  vertical-align: middle;
}
.home ul, .playlist ul{
  list-style: none;
}
.home li{
  padding: 0 0 0 15px; /*Necessari per il bordo ad inizio pagina*/
  margin-left: -20px;
  font-weight: bold;
  line-height: 40px;
  border-left: 4px solid rgba(173, 255, 47, 0);
}
.home li a{
  text-decoration: none;
  color: #717171;
}
.home li:hover{
  border-left: 4px solid rgba(173, 255, 47, 1);
}
.home li:hover img, .home li:hover a{
  filter: brightness(5);
  color: white;
}

.playlist{
  line-height: 2.6rem;
  margin-top: 10px;
  overflow-y: auto;
}
.playlist h3 i{
  background-color: #717171;
  color: black;
  font-size: 1.5rem;
  vertical-align: middle;
  margin-right: 10px;
  padding: 8px;
}

.profile_logo{
  margin-top: auto;
}
.profile_logo p{
  border-bottom: 1px solid #717171;
  margin-bottom: 5px;
}
.profile_logo p i{
  padding: 10px 10px 10px 0;
  color: #717171;
}
.profile_logo h3 {
  margin-top: 10px;
}
.profile_logo img{
  display: inline-block;
  height: 26px;
  background-color: #808080;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 10px;
}





.subscribe button{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  border-radius: 15%/50%;
  background-color: rgba(0, 0, 0, 0.6);
  border-color: white;
  color: white;
  padding: 15px 40px 15px;
  text-transform: uppercase;
  box-shadow: none;
}









.covers_section {
    background-color: #141922;
    padding: 20px;
    overflow-y: auto;
    padding-top: 80px;
    width: calc(100% - 230px);
}
.subscribe {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 230px);
    height: 80px;
    background-color: rgba(0, 0, 0, 0.6);
}

.album-menu{
  justify-content: center;
}

.album-menu a{
  text-decoration: none;
  padding: 10px;
  text-transform: uppercase;
  font-size: 10px;
  color: #717171;

}

.album{
  justify-content: flex-start;
}


.card{
  flex-basis: 200px;
}

.card img{
  max-width: 177px;
}

.card p{
  font-size: 10px;
  color: #717171;
}


/* Footer */
#site_footer {
    background-color: #282828;
    height: 90px;
}


#site_footer .player{
  justify-content: space-between;
  color: white;
}






















/* fine */
