* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility classes */
.m-10{
  margin: 10px 0;
}
.m-20{
  margin: 20px 0;
}
.m-30{
  margin: 30px 0;
}

.text-white{
  color: white;
}
.text-grey{
  color: grey;
}



.d-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-row{
  flex-direction: row;
}
.wrapper {
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

body {
    background-color: grey;
}

#main_site{
    height: calc(100% - 60px);
}
aside.main_menu {
    min-width: 300px;
    background-color: black;
}

.covers_section {
    background-color: #141922;
    padding: 20px;
    overflow-y: auto;
    padding-top: 60px;
    width: calc(100% - 300px);
}
.subscribe {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 300px);
    height: 60px;
    background-color: rgba(4, 21, 52, 0.9);

}

.album-menu{
  justify-content: center;
}

.album-menu a{
  text-decoration: none;
  padding: 10px;
  text-transform: uppercase;
  font-size: 10px;
  color: grey;

}

.recently_played .album{
  justify-content: flex-start;
}


/* Covers section */

.card{
  flex-basis: 200px;
}

.card img{
  max-width: 150px;
}


/* Footer */
#site_footer {
    background-color: yellowgreen;
    height: 60px;
}


















/* fine */
